body {
    font-family: "Roboto";
    margin: 0;
}

.navbar {
    background-color: #1F2937;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.hero img {
    width: 220px;
    height: 100%;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-left button {
    background-color: #3882F6;
    padding: 8px;
    margin: 8px 0;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    max-width: 15%;
}

.hero-left * {
    margin: 0;
    padding: 0;
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 1;
}